// Body
$body-bg: #f8fafc91;

// Typography
$font-family-sans-serif: 'Lato', 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$fa-font-path: "../webfonts";

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$amarilloclaro: #FCFFBF;
$rojoclaro: rgb(255, 231, 230);
$rojofacultad: #cd171e;
$fondooscuro: rgb(90, 90, 90);

/* Color Theme Swatches in Hex */
$Vivid-Red-1-hex: #3C3C3C;
$Vivid-Red-2-hex: #A7A7A7;
$Vivid-Red-3-hex: #4DDD95;
$Vivid-Red-4-hex: #900C00;
$Vivid-Red-5-hex: #DD1200;

/* Color Theme Swatches in RGBA */
$Vivid-Red-1-rgba: rgba(59,59,59, 1);
$Vivid-Red-2-rgba: rgba(167,167,167, 1);
$Vivid-Red-3-rgba: rgba(77,221,149, 1);
$Vivid-Red-4-rgba: rgba(144,11,0, 1);
$Vivid-Red-5-rgba: rgba(221,17,0, 1);