@page { 
    size: letter;
    margin-top: 1in;
    margin-bottom: 1.5in;
    margin-left: 1in;
    margin-right: 1in;
}
#header{
    height: 175px;
    margin-bottom: 1cm; 
}

footer{
    position: fixed; 
    bottom: -1.5in; 
    left: 0px; 
    right: 0px;
    height: 0.5in; 
    font-size: 9pt;
}

table {
    border-collapse: collapse;
  }
table, th, td {
    border: 1.5px solid rgb(143, 172, 212);
}
th, td {
    padding: 2mm;
}
td{
    vertical-align: top;
}

#marca-de-agua {
    position: fixed;
    bottom:   0px;
    left:     0px;
    
    // Tamaño de la marca de agua
    // width:    5in;
    height:   5.5in;

    // Mandarla hasta atrás
    z-index:  1000;
    .text-center{
        // Rotar texto y hacerlo grande
        transform: rotate(-45deg);
        color: rgba(0, 0, 0, 0.3);
        font-size: 65pt;
        font-weight: 600;
        // display: flex;
    }
}

// Estilos para texto, padding y márgenes
.text-center{
    text-align: center;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.my-10mm{
    margin-top: 10mm;
    margin-bottom: 10mm;
}
.my-5mm{
    margin-top: 5mm;
    margin-bottom: 5mm;
}
.mb-10mm{
    margin-bottom: 10mm;
}
.mb-5mm{
    margin-bottom: 5mm;
}
.pl-10mm{
    padding-left: 10mm;
}
.pl-5mm{
    padding-left: 5mm;
}

.lista{
    margin-left: 0.5mm;
    padding-left: 5mm;
    margin-bottom: 7mm;
}

.sangria{
    // text-indent: 5mm;
    margin-left: 1mm;
    padding-left: 5mm;
}